<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- the 'import' tag can be used to import other bean definitions files -->
	<!-- <import resource="otherAppContext.xml"/> -->

    <bean id="productRepository"
          class="repository.com.ing.springboot.training.d01.s03.ProductRepository"/>

    <alias name="productRepository" alias="repository"/>
    <alias name="productRepository" alias="prodRepo"/>
</beans>