<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="productRepository"
          class="repository.com.ing.springboot.training.d01.s03.ProductRepository"
          init-method="initialize"/>

    <bean id="productService" class="service.com.ing.springboot.training.d01.s03.ProductService"
          destroy-method="onClose">
        <constructor-arg ref="productRepository"/>
    </bean>
</beans>